In [8]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from matplotlib import pyplot as plt
import seaborn as sns

dataframe = pd.read_csv('Housing.csv')
dataframe.head(10)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,years
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1.0,29
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1.0,49
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0.5,42
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1.0,22
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1.0,14
5,10850000,7500,3,3,1,1,0,1,0,1,2,1,0.5,45
6,10150000,8580,4,3,4,1,0,0,0,1,2,1,0.5,42
7,10150000,16200,5,3,2,1,0,0,0,0,0,0,0.0,15
8,9870000,8100,4,1,2,1,1,1,0,1,2,1,1.0,35
9,9800000,5750,3,2,4,1,1,0,0,1,1,1,0.0,27

In [9]:
dataframe.shape

(545, 14)

In [10]:
dataframe.isna().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
years               0
dtype: int64

In [40]:
X = dataframe.iloc[:,1:]
y = dataframe.iloc[:,0]

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

scaler = StandardScaler()

X_train_scale = scaler.fit_transform(X_train)
X_test_scale = scaler.transform(X_test)

rf_reg1 = RandomForestRegressor(n_estimators=10)
rf_reg1.fit(X_train_scale,y_train)
y_pred1 = rf_reg1.predict(X_test_scale)

print(y_pred1)

[ 5617150.  6542550.  3654000.  4491900.  4014500.  3892000.  4388300.
  5243700.  3477600.  3080000. 10115000.  3334800.  2921100.  3874500.
  3745000.  3663800.  2852430.  5808250.  3943800.  4357150.  5599300.
  5890500.  2576000.  3964800.  4998700.  7125650.  3610600.  5162500.
  6757100.  3647000.  5448800.  3236100.  7790300.  4091500.  3166100.
  6874000.  5011650.  3867500.  3189550.  4383400.  4017300.  2608900.
  6757800.  4381300.  4051600.  4119500.  7234500.  4380600.  3276700.
  3290000.  7948094.  2705500.  4330200.  4370100.  3001600.  3206000.
  6324500.  2389100.  4972800.  3220000.  3526600.  3499300.  4309200.
  4284000.  4154500.  4314800.  6369300.  2889600.  5796700.  5446000.
  4316900.  5345900.  4319000.  7420000.  2931600.  5022500.  4263000.
  4862200.  5157250.  4520600.  7985600.  4360300.  6226500.  5953500.
  2991800.  6133400.  2480100.  4401600.  8206100.  9329250.  2518145.
  5410300.  3951850.  3754800.  9807000.  4169550.  4579750.  6037500.
  4037250.  6402550.  4602850.  6368600.  3903900.  4521300.  6506850.
  4858000.  7339500.  7059500.  6858600.]

In [48]:
from sklearn.metrics import r2_score

acc1 = r2_score(y_test,y_pred1)
print('Accuracy: ',acc1*100)

Accuracy:  59.902695685463655

In [43]:
rf_reg2 = RandomForestRegressor(n_estimators=20)
rf_reg2.fit(X_train_scale,y_train)
y_pred2 = rf_reg2.predict(X_test_scale)

print(y_pred2)

[5350800.  6891822.  3664500.  4618600.  4270700.  3995250.  4893700.
 5398400.  3207050.  2821857.5 9869797.  3381000.  3222800.  3348800.
 3538500.  4041450.  3378900.  5364625.  3606750.  3814300.  5097050.
 6277250.  2999500.  3606750.  5139050.  7025025.  3385550.  4691750.
 6969200.  3512250.  5388250.  2825550.  7082950.  4135250.  3185175.
 6277250.  4548950.  3854550.  3055850.  3895150.  4351200.  3159100.
 6929300.  4173400.  3740800.  4269300.  7109900.  4052650.  3213000.
 3195150.  8039297.  2699900.  4246200.  4396000.  3480750.  3245007.5
 7142800.  2451400.  5165650.  3054450.  3848250.  4078200.  4564000.
 4564000.  3958675.  4514650.  6554975.  2600150.  5777450.  5282900.
 4235350.  5276950.  4342450.  7152250.  3009650.  5136950.  4320750.
 4264925.  4900000.  4558750.  8261400.  4346650.  5471550.  6170150.
 3009300.  6683075.  2524900.  4133325.  8313494.  8954925.  3224515.
 5751550.  3732750.  3456600.  9315250.  4018000.  5225675.  6229650.
 4325650.  5787775.  4491725.  6877150.  3882550.  4179000.  6083000.
 5347300.  7420000.  7415450.  6147400. ]

In [44]:
acc2 = r2_score(y_test,y_pred2)
print('Accuracy: ',acc2*100)

Accuracy:  62.844902941427726

In [53]:
rf_reg3 = RandomForestRegressor(n_estimators=50)
rf_reg3.fit(X_train_scale,y_train)
y_pred3 = rf_reg2.predict(X_test_scale)

print(y_pred3)

[5350800.  6891822.  3664500.  4618600.  4270700.  3995250.  4893700.
 5398400.  3207050.  2821857.5 9869797.  3381000.  3222800.  3348800.
 3538500.  4041450.  3378900.  5364625.  3606750.  3814300.  5097050.
 6277250.  2999500.  3606750.  5139050.  7025025.  3385550.  4691750.
 6969200.  3512250.  5388250.  2825550.  7082950.  4135250.  3185175.
 6277250.  4548950.  3854550.  3055850.  3895150.  4351200.  3159100.
 6929300.  4173400.  3740800.  4269300.  7109900.  4052650.  3213000.
 3195150.  8039297.  2699900.  4246200.  4396000.  3480750.  3245007.5
 7142800.  2451400.  5165650.  3054450.  3848250.  4078200.  4564000.
 4564000.  3958675.  4514650.  6554975.  2600150.  5777450.  5282900.
 4235350.  5276950.  4342450.  7152250.  3009650.  5136950.  4320750.
 4264925.  4900000.  4558750.  8261400.  4346650.  5471550.  6170150.
 3009300.  6683075.  2524900.  4133325.  8313494.  8954925.  3224515.
 5751550.  3732750.  3456600.  9315250.  4018000.  5225675.  6229650.
 4325650.  5787775.  4491725.  6877150.  3882550.  4179000.  6083000.
 5347300.  7420000.  7415450.  6147400. ]

In [54]:
acc3 = r2_score(y_test,y_pred3)
print('Accuracy: ',acc3*100)

Accuracy:  62.844902941427726